    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
          CAF Images
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dashboard($event)">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <!-- <ion-grid>
          <ion-row class="m-icon">
       
              
            <ion-card  class="col col-div" (click)=openModal(i) *ngFor="let img of showImages; let i = index">
              <ion-icon *ngIf="!img.loaded" name="camera"></ion-icon>
              <ion-text  class="img_text" *ngIf="img.docType">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{img.docType}}</ion-text>
              <img [src]="img.imageUrl" (load)="img.loaded = true" [hidden]="!img.loaded">

            </ion-card>
          
          </ion-row>


        </ion-grid> -->

      <ion-button *ngIf="!shoDashboardButton" size="medium" (click)="openModal()" expand="block">
        <ion-icon name="add"></ion-icon>&nbsp; Add Image For {{this.buttonName}}
      </ion-button>

      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let photo of showImages; let id = index">
            <ion-card class="block">
              <ion-icon name="trash" class="deleteIcon" style="font-size: 20px !important" (click)="deletePhoto(id)"></ion-icon>
              <!-- <ion-text  class="img_text" *ngIf="this.docType[index]">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{this.docType[id]}}</ion-text> -->
              <img [src]="DomSanitizer.bypassSecurityTrustUrl(photo)" *ngIf="photo" style="height: 150px;" (click)="showDialog(id)"/>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>



      <div *ngIf="this.showImages.length  >0" align="center" style=" padding: 5px;
      position: fixed;
      bottom:0;
      left: 0;
      right: 0;">
        <ion-button shape="round" size="medium" fill="outline" class="button_specs" (click)=uploadMultipleImages()>
          <ion-icon style="margin-right: 5px" name="cloud-upload-outline"></ion-icon>
          Upload
        </ion-button>
      </div>

      <div *ngIf="shoDashboardButton" align="center" style=" padding: 5px;
        position: fixed;
        bottom:0;
        left: 0;
        right: 0;">
          <ion-button shape="round" size="medium" fill="outline" class="button_specs"(click)="goToDashboard()">
            
            Dashboard
          </ion-button>
        </div>
     



    </ion-content>