form{
  background-color: green($color: #000000);
  margin: 50px auto;
  width:80% /* value of your choice which suits your alignment */
}
// input{
//   background-color: #f1f1f1;
// }
// input :hover{
//   background-color: #f1f1f1;
// }
// ion-content{
//     --ion-background-color: #f1f1f1;
// }
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 70px;
}