<ion-header>
  <ion-toolbar color="#628cff">
    <ion-title color="#fff">IMAGE</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle-outline" color="#fff" size="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- <ion-slides [options]="slide" zoom>
    <ion-slide>   -->
        <img [src]="url"/>
     <!-- </ion-slide>
  </ion-slides> -->
  
  
 
      
  

</ion-content>


